*... do not dissapoint me ...*

# my name is {{ char.id }}

## 📋 about me
- **role**: {{char.role}}
- **backstory**: {{char.backstory}}
- **personality**: {{ char.personality }}
- **goal:** {{ char.goal }}
- **location**: {{ char.location }}

## 👥 contacts
{% if char.relationships %}
{% for char_ids, rel_type in char.relationships.items() %}
- {{ char_ids }}: {{ rel_type }}
{% endfor %}
{% else %}
- none
{% endif %}

## 🎒 inventory
{% if char.inventory %}
{% for item in char.inventory %}
- {{ item }}
{% endfor %}
{% else %}
- nothing
{% endif %}

## 🛠️ tools
- I can take multiple actions per turn
- I stop when I have nothing left to do